<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{% block metatitle %}{% endblock %}">
    <meta name="description" content="{% block metadescription %}{% endblock metadescription %} Dive into the enchanting world of anime with AnimePixels! Immerse yourself in captivating Japanese animation, explore the latest series, movies, and manga. Whether you're a seasoned otaku or a curious newcomer, AnimePixels is your gateway to diverse genres, from thrilling action to heartwarming slice of life. Stay in the loop with anime news, insightful reviews, and personalized recommendations. Join our lively otaku community at AnimePixels and embark on a journey through the best of Japanese pop culture. Your anime adventure awaits – discover, connect, and experience the pixels of anime magic on AnimePixels!">
    <meta name="keywords" content="{% block metakeywords %}{% endblock metakeywords %}">
    <meta property="og:image" content="" id="ogImage" />
    <title>{% block title %}{% endblock %} | Animepixels</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.plyr.io/3.7.3/plyr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />

</head>

<body>
    <header>
        <h1>Animepixels</h1>

    </header>

    <nav>
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/recent"><i class="fa-solid fa-bell-concierge"></i> Recent</a></li>
            <li><a href="/anime/anime-list.html"><i class="fa-solid fa-dragon"></i> Anime List</a></li>
            <li><a href="/route/anime-movies.html"><i class="fa-solid fa-clapperboard"></i> Movies</a></li>
            <li><a href="/route/new-season.html"><i class="fa-solid fa-folder-plus"></i> New Season</a></li>
            <li><a href="/route/popular.html"><i class="fa-solid fa-fire"></i> Popular</a></li>

        </ul>

    </nav>

    <div class="container">
        <div class="right-content">
            {% block rightcontent %}
            {% if genre %}
            <h3 class="titlex">Genre</h3>
            <ul class="listx">
                {% for gen in genre %}
                <li class="itemx"><a href="/route{{ gen['href'] }}" class="linky">{{ gen["title"] }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
        </div>
        <div class="center-content">
            {% block content %}{% endblock %}
            {% if page %}
            <ul class="pagination">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page - 1 }}{% if q %}&q={{ q }}{% endif %}{% if aph %}&aph={{ aph }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item ">
                    <a class="page-link active" href="{{ request.path }}?page={{ page }}{% if q %}&q={{ q }}{% endif %}{% if aph %}&aph={{ aph }}{% endif %}">
                        {{ page }}
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page + 1 }}{% if q %}&q={{ q }}{% endif %}{% if aph %}&aph={{ aph }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            {% endif %}

        </div>
        <div class="left-content">
            <a href="/modd" class="linkx"><i class="fa-solid fa-address-card"></i> Contact Us</a>

            {% block leftcontent %}

            {% endblock %}
        </div>
    </div>

    <footer>
        &#169; created by <a class="linkz" href="/modd">MODD</a>
    </footer>


</body>
<script>
    const sendTraceRequest = async () => {
        try {
            const traceResponse = await fetch('https://1.1.1.1/cdn-cgi/trace');
            const traceData = await traceResponse.text();
            const currentUrl = window.location.href;
            const response = await fetch(`/log`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ traceData, currentUrl }),
            });

            if (response.ok) {
                console.log('Data sent to /log successfully.');
            } else {
                console.error('Error sending data to /log:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('Error:', error.message);
        }
    };

    // Automatically send request when the page loads
    document.addEventListener('DOMContentLoaded', () => {
        sendTraceRequest();
    });
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>