{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block metatitle %}Home{% endblock metatitle %}

{% block content %}
    <h1 class="titlex">Welcome to Animepixels!</h1>
    {% include 'search_form.html' %}
<h1 class="titlex">Animepixels - Best site to watch anime online for FREE.</h1>
<p>Animepixels is a completely free streaming site for users to watch or download anime in HD quality with English subtitles or dubbing.
     A vast database, fast update and no registering requirement. All the data is hoted by others. AnimePixels don't own the content.</p>
{% endblock %}
